<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LUG'ATIM.UZ</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#if wordsPage}} active{{/if}}" 
          aria-current="page" 
          href="/words">Words</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{#if languagePage}} active{{/if}}" 
          aria-current="page" 
          href="/language">Language</a>
        </li>

{{!-- uygi vazifa uchun------------------------------ --}}

        <li class="nav-item">
          <a class="nav-link {{#if addUserPage}} active{{/if}}" 
          aria-current="page" 
          href="/addUser">Add User</a>
        </li>


{{!-- ------------------------------------- --}}
        <li class="nav-item">
          <a class="nav-link {{#if userPage}} active{{/if}}" 
          aria-current="page" 
          href="/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if loginPage}} active{{/if}}" 
          aria-current="page" 
          href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if mainPage}} active{{/if}}" 
          aria-current="page" 
          href="/">Main</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>