<form id="loginform">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      value="hojiakbar@example.com"
    />

  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      value="StrongPassword123"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="./js/script.js"></script>

<script>  
  login()
</script>