body {
  background: #0d1b2a;}

h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  width: 200ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20) infinite
  alternate-reverse;

}

@keyframes typing {
  from {
    width: 5ch;
  }
}




ul {
  color: rgb(9, 255, 0);
  font-size: 2rem;
  width: 200ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(30) 
  alternate-reverse;

}